# Part 1

In [9]:
import pandas as pd
import numpy as np
import requests
import geocoder

In [10]:
#get data
html = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [11]:
#load into pandas, first table is the one we want. Also we set first row as header
loaded_table = pd.read_html(html.text,header=0)[0]
loaded_table.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Now we have to remove rows where Borough is not assigned:

In [12]:
#this filters out all rows, where Borough has value 'Not assigned'
loaded_table = loaded_table[loaded_table['Borough'] != 'Not assigned']
loaded_table.head(7)

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
9      M9A         Etobicoke  Islington Avenue

For cells which have _Not assigned_ neighbourhood use borough name as neighbourhood name:

In [13]:
#define function applied to each row. This will change Neighbourhood in case its value is 'Not assigned'
def change(row):
    postcode,borough,neighbourhood = row
    if neighbourhood == 'Not assigned':
        neighbourhood = borough
    return pd.Series([postcode,borough,neighbourhood])

#apply the function to each row
loaded_table = loaded_table.apply(func=change, axis=1, result_type='broadcast')
loaded_table.head(7)

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
9      M9A         Etobicoke  Islington Avenue

Now we need to regroup rows in our table, so that all neighbourhoods with same postcode (and same borough) are on one row:

In [14]:
#grouping by postcode --> that means each row will represent unique postcode. Then aggregating by unique neighbourhoods
final_table = loaded_table.groupby('Postcode').agg(lambda x: ', '.join(set(x))).reset_index()
final_table.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Malvern, Rouge
1      M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

Now we will print shape of final output

In [15]:
print('shape of final table is: '+str(final_table.shape))

shape of final table is: (103, 3)

# Part 2
We will use geocoder to get latitude and longtitude of each post code. Because google did not work for me, I used ArcGis

In [ ]:
#create function which requests coordinates for each postcode from ArcGis
def add_lat_long(row):
    postcode,borough,neigh = row
    latlong = geocoder.arcgis(postcode+', '+borough).json
    if latlong == None:
        latlong = {'lat':'NA','lng':'NA'}
    
    return pd.Series([latlong['lat'],latlong['lng']])

#get coordinates of each postcode, save it to coordinates dataframe
coordinates = final_table.apply(axis=1, func=add_lat_long, result_type=None)
coordinates.columns = ['latitude','longtitude']
coordinates.head()

In [ ]:
#now concatenate columns from coordinates dataframe with columns from original dataframe
data_with_coordinates = pd.concat([final_table,coordinates],axis=1)
data_with_coordinates.head()